URxvt.font: xft:inconsolata:bold:size=14
URxvt.scrollBar: false
URxvt.letterSpace: -1

*background:  #232323
*foreground:  #ffffff
*color0:  #152302
*color1:  #d40038
*color2:  #97ab00
*color3:  #d47a00
*color4:  #78008b
*color5:  #d40089
*color6:  #1e948b
*color7:  #cbcdc8
*color8:  #5b7759
*color9:  #e53e46
*color10:  #a7bc20
*color11:  #e5961e
*color12:  #873e9c
*color13:  #c03e9c
*color14:  #67bc74
*color15:  #ffffff
